nav {
  height: 100px;
  background-color: #d7c078;
}

.card {
  border: 1px lightgrey solid;
  border-radius: 2px;
  margin-bottom: 10px;
  min-height: 418px;
}

.card > img {
  width: 100%;
  height: 100%;
}
